/** @format */

$mainColor: #00122f;
$neonGreen: #26e71e;
$darkBlueOne: #00122f;
$darkBlueTwo: #192b49;

/* Buttons */

$buttonBackgroundColor: #26e71e;
$buttonBackgroundColorHover: #267122;
$buttonColor: #00122f;
