/** @format */

$mainColor: #00122f;
$neonGreen: #26e71e;
$DarkNeonGreen: #1db217;
$darkBlueOne: #00122f;
$darkBlueTwo: #192b49;
$disabledColor: #344156;

/* Buttons */

$buttonBackgroundColor: #26e71e;
$buttonBackgroundColorHover: #267122;
$buttonColor: #00122f;
$buttonBackgroundDisabled: #c3c9d2;
