/** @format */

@import "@/styles/helpers/_variables.scss";

.contentHeader {
  padding: 80px 0;
  color: #fff;
  .title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    h2 {
      font-weight: 300;
      font-size: 48px;
      line-height: 63px;
      color: #808ea5;

      span {
        // text-decoration: underline;
        font-weight: 600;
        color: white;
      }
    }

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color img {
      }
    }
  }

  p {
    width: 70%;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}

.resources {
  .loadMore {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    button {
      width: 250px;
      padding: 10px 20px;
      background: $darkBlueTwo;
      color: #fff;
      border: 1px solid #344156;
      border-radius: 65px;
      outline: none;
    }
  }
}
